@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-image: url('../images/circuit-board.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container{
    width: auto;
    max-width: 900px;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px rgba(0, 153, 153, 0.5);
    padding: 20px 30px;
    color:black;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.quote-text{
    font-size: 2.75rem;
    font-weight: 700;
}

.fa-quote-left{
    font-size: 4rem;
}