html{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-image: url('../images/circuit-board.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.quote-container{
    width: 600px;
    height: 300px;
    background-color: aqua;
}