.calculator {
    width: 400px;
    outline: auto black;
}

/*display*/
.calculator-display {
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}

.calculator-display h1 {
    margin: 0;
    padding: 25px;
    font-size: 50px;
    font-weight: 200;
}

/*Buttons*/
.calculator-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;

}

button{
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
    border: none;
}